[submodule ".registry"]
	path = .registry
	url = https://github.com/stan-dev/stan-dev.r-universe.dev
	branch = HEAD
[submodule "StanHeaders"]
	path = StanHeaders
	url = https://github.com/stan-dev/rstan
	branch = experimental
	subdir = StanHeaders
[submodule "bayesplot"]
	path = bayesplot
	url = https://github.com/stan-dev/bayesplot
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	branch = v0.8.0
[submodule "loo"]
	path = loo
	url = https://github.com/stan-dev/loo
[submodule "posterior"]
	path = posterior
	url = https://github.com/stan-dev/posterior
[submodule "posteriordb-r"]
	path = posteriordb-r
	url = https://github.com/stan-dev/posteriordb-r
[submodule "projpred"]
	path = projpred
	url = https://github.com/stan-dev/projpred
[submodule "rstan"]
	path = rstan
	url = https://github.com/stan-dev/rstan
	branch = experimental
	subdir = rstan/rstan
[submodule "rstanarm"]
	path = rstanarm
	url = https://github.com/stan-dev/rstanarm
	branch = feature/survival
[submodule "rstantools"]
	path = rstantools
	url = https://github.com/stan-dev/rstantools
[submodule "shinystan"]
	path = shinystan
	url = https://github.com/stan-dev/shinystan
